<template>
<v-container>
  <v-form @submit="submit" ref="form" novalidate class="form">
      <v-row>   
       <v-select
          :items="productList"
          label="Produit"
        ></v-select>
      </v-row>
       <v-row>
          <v-text-field 
            label="Quantité" 
            type="integer" 
            v-model.number="form.quantity"
            :rules="inputIntegerRules">
          </v-text-field>
        </v-row>
          <v-select
          :items="productPrices"
          label="Price"
        ></v-select>
        <v-row>
         <v-text-field 
            label="Votre nom" 
            type="text" 
            v-model="form.customer.lastname"
            lazy-rules>
          </v-text-field>
        </v-row>
        <v-row>
         <v-text-field 
            label="Votre prénom" 
            type="text" 
            v-model="form.customer.firstname"
            lazy-rules>
          </v-text-field>
        </v-row>
        <v-row>
          <v-btn 
            rounded
            type="submit" 
            color="orange lighten-2">
            Submit
          </v-btn>
        </v-row>
  </v-form>
</v-container>
</template>

<script>

const API_URL = 'https://localhost:8000/api'
const POST_CART = '/carts'
const ADMIN_HOME_URL = '/secure/admin'

  export default {
    name: 'Cart',
    data: () => ({
      form : {
        products : {
          name: '',
          quantity: '',
          price: '',
        },
        totalPrice: '',
        orderDate: '',
        customer: {
          firstname: "",
          lastname: ""
        },
        status: {
          state: 'processing'
          }
      },
      errors: [],
      products: '',
      productList: [],
      productPrices: [],
      inputIntegerRules: [
                val => (val && val > 0) || 'Un produit minimum'
            ],
    }),
    mounted () {
      this.$http.get(API_URL + '/products')
      .then(response => {
          this.products = response.data['hydra:member']
          for (var i = 0; i < this.products.length; i++) {
            this.productList.push(this.products[i].name)
            this.productPrices.push(this.products[i].price)
          }
        })
        .catch(err => {
          this.errors.push(err)
          this.$notify ({
                group: 'error',
                type: 'warn',
                title: 'Une erreur est survenue au chargement de la page : ' + this.errors[0],
                message: this.errors[0]
          })
        })
    },
    methods: {
      async submit(e) {
        e.preventDefault();
        this.form.orderDate = Date.now();
        await this.$http.post(API_URL + POST_CART, this.form).then( response => {
               if(response.status === 200) {
                   this.$notify ({
                       group: 'success',
                       title: 'Bienvenue',
                       color: 'blue'
                   })
                    this.$router.push(ADMIN_HOME_URL)
                }
            })
        
        .catch (err => {
          this.errors.push(err)
          this.$notify ({
                group: 'error',
                type: 'warn',
                title: 'Une erreur est survenue au chargement de la page : ' + this.errors[0],
                message: this.errors[0]
          })
        })

      }
    }
  }

</script>

<style scoped>
.form {
  margin: 1rem;
}
</style>