<template>
<v-container>
    <v-row class="title">
        <h1>Login</h1>
    </v-row>
    <v-form class="form" @submit="submit" ref="form" novalidate >
        <v-row>
            <v-text-field 
                label="login" 
                rounded 
                outlined 
                type="text" 
                v-model="form.login"
                lazy-rules
                :rules="inputTextRules">
            </v-text-field>
        </v-row>
        <v-row>
             <v-text-field  
                label="Mot de passe"
                outlined
                rounded
                type="password" 
                v-model="form.password"
                lazy-rules
                :rules="inputPasswordRules">
            </v-text-field>
        </v-row>
        <v-row>
            <v-alert 
                dense border="bottom" 
                type="error" 
                v-if="formErrors.length > 0">
            <ul class="font-italic" >
                Une erreur est survenue.
                <ol v-for="error in formErrors" :key="error">{{error}}</ol>
            </ul>
            </v-alert>
        </v-row>
    <v-btn 
        rounded
        type="submit" 
        color="orange lighten-2">
        Submit
    </v-btn>
    </v-form>
</v-container>
</template>

<script>


const API_URL = 'https://localhost:8000/api'
const LOGIN_URL = '/login'
const USERS_IRI_URL = '/users/?login='
const ADMIN_HOME_URL = '/secure/admin'

const passwordregex = /^(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[#?!@$ %^+&*-]).{5,}$/

export default {
    name: 'Login',
    data () {
        return {
            form: {
                login: '',
                password: ''
            },
            formErrors: [],
            inputTextRules: [
                val => (val && val.length > 1) || 'Login obligatoire'
            ],
            inputPasswordRules: [
                val => (val && val.length > 4) || 'Minimum 5 caractères',
                val => passwordregex.test(val) || 'Format invalide'
            ]
        }
    },
    methods: {
        async submit(e) {
            e.preventDefault();
            await this.$http.post(API_URL + LOGIN_URL, this.form)
            .then( response => {
                if(response.status === 200) {
                    this.getUser()
                }
            })
            .catch( err => this.formErrors.push(err.response))
        },
         async getUser() {
            await this.$http.get(API_URL + USERS_IRI_URL + this.form.login)
            .then( response => {
               if(response.status === 200) {
                   this.$notify ({
                       group: 'success',
                       title: 'Bienvenue',
                       color: 'blue'
                   })
                    this.$router.push(ADMIN_HOME_URL)
                }
            })
            .catch( err => this.formErrors.push(err.response))
            }
        }
    }

</script>

<style scoped>
.form {
    padding: 5rem;
    text-align: center;
}
.title {
    justify-content: center;
    padding: 4rem;
    color: #1e3d59;
}
</style>