<template>
  <v-container>
    <v-data-table
      :headers="headers"
      :items="orders"
      :items-per-page="10"
      class="elevation-1">
    </v-data-table>
    <div class="text-center">
     <v-btn 
        class="btn"
        rounded
        @click="goToCart"
        color="orange lighten-2">
        nouvelle commande
    </v-btn>
    </div>
  </v-container>
</template>

<script>
const API = 'https://127.0.0.1:8000/api'
const GET_ORDERS = '/orders'

  export default {
    name:'OrdersList',
    data () {
      return {
         headers: [
          { text: 'Commandes', align: 'start', sortable: true, value: 'id'},
          { text: 'client ID', value: 'customer.id'},
          { text: 'client firstname', value: 'customer.firstname'},
          { text: 'client lastname', value: 'customer.lastname'}, 
          { text: 'Panier', value:'cart.@id',  click:HTMLTableRowElement},
          { text: 'Prix total', value:'totalPrice'},
          { text: 'Date de création', value: 'orderDate'},
          { text: 'Status', value: 'status.state'}
        ],
        orders: [
        ],
      }
    },
    mounted() {
      this.$http.get(API + GET_ORDERS)
      .then(response => {
          this.orders = response.data['hydra:member']
        })
        .catch(err => {
          this.errors.push(err)
          this.$notify ({
                       group: 'error',
                       type: 'warn',
                       title: 'Une erreur est survenue au chargement de la page : ' + this.errors[0],
                       message: this.errors[0]
                   })
        })
    },
    methods: {
        goToCart() {
        this.$router.push('/secure/admin/new_cart')
      }
    }  
  }
</script>

<style scoped>
.btn {
    justify-content: center;
    padding: 4rem;
    margin: 5rem;
    color: #1e3d59;
}
</style>