<template>
<v-app-bar
  app
  color=#1e3d59>
  <v-card>

    <v-btn
      href="/secure/admin/new_cart"
      text>
      <span 
        class="mr-2">
        Cart
      </span>
      <v-icon>mdi-open-in-new</v-icon>
    </v-btn>

    <v-btn
      href="/secure/admin/orders_list"
      text>
      <span 
        class="mr-2">
        Admin
      </span>
      <v-icon>mdi-open-in-new</v-icon>
    </v-btn>

    <v-btn
      class="out"
      href="https://gitlab.com/JessyMe"
      target="_blank"
      text>
      <span 
        class="mr-2">
        GitLab
      </span>
      <v-icon>mdi-open-in-new</v-icon>
    </v-btn>

  </v-card>
</v-app-bar>
</template>

<script>
  export default {
      name: 'TheHeader'
  }
</script>

<style scoped>
</style>