<template>
  <v-app>
    <the-header></the-header>
    <v-main>
      <router-view></router-view>
    </v-main>
    <notifications group="success"/>
    <notifications group="error"/>
  </v-app>
</template>

<script>
import TheHeader from './components/TheHeader.vue';

export default {
  name: 'App',
  components: {
    TheHeader
  },
};
</script>

<style scoped>
.v-main {
  background-color: #f5f0e1;
  margin: 1rem;
}

</style>
